@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(to left top, #9451b8, #6d7edd, #48a2ed, #51c0ee, #82daea);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header-container {
  background-color: #03506F;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.link {
  border-radius: 10px;
  color: #fff;
  width: 18%;
  padding: 7px 12px;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20), 0 2px 10px 0 rgba(0, 0, 0, 0.20);
  color: orange;
}

.title {
  color : white;
  text-shadow: 4px 4px 17px #B000B9;
  font-size: 40px;
  letter-spacing: 1px;
  cursor: default;
}

.title-alignment {
  margin : 40px auto;
}

.title-container {
  margin: 20px 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-student-btn {
  font-size : 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background-color: white;
  cursor : pointer;
}

.table-container {
  margin: auto 13%;
  height: 70%;
}

.center {
  padding-left: 30px;
}